<div class="row">
    <div class="tab-first-column">
        <p>
            [Placeholde for App Info]
        </p>
        
        <p>
            <label class="tab-field-label">namespace : </label> <div data-bind="text: appInfo.nameSpace" style="margin-bottom:5px;"></div>
            <label class="tab-field-label">Dev Center Version</label> <div data-bind="text: appInfo.version" style="margin-bottom:5px;"></div>
            <label class="tab-field-label">Dev Center Package</label> <div data-bind="text: appInfo.package" style="margin-bottom:5px;"></div>
</p>
    </div>
    <div class="tab-second-column">
        <div class="well-info text-center">
            <div>
                [Placeholde for app image]
            </div>
            <div style="font-size: 15px; font-weight: bold; color: #333333; line-height:17px;" class="mozulogo">[App]  by</div>
            <div style="font-size: 12px; color: #333333; line-height:15px;">App <span data-bind="text: appVersion"></span></div>
            <div style="font-size: 12px; color: #333333; line-height:15px;">Mozu API <span data-bind="text: apiVersion"></span></div>
        </div>
    </div>
</div>
